@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

:root {
	--base-color: #d1d1d1;
	--accent-color: rgb(85, 87, 98);
	--accent-color-2: #466baf;
	--norm-color: #d1d1d1;
}
@media (prefers-color-scheme: dark) {
	html {
		filter: invert(1);
	}

}
html {
	scroll-behavior: smooth;
	scroll-padding:40px;
}
body {
	font-family: 'Jost', sans-serif;
	background-color: var(--base-color);
	color: var(--accent-color);
	padding-bottom: 1rem;
	overflow-x: hidden;
}
@media print {
	body {
		color:black;
		background-color: white;
		font-size: 12px;
	}
}

footer {
	position:fixed;
	bottom:0;
	background-color: var(--base-color);
}
@media print {
	footer {
		scale:0;
	}
}

.vsect {
	display:flex;
}
@media (orientation: landscape) {
	.vsect {
		width: calc(100vw - 215px);
	}
}
.vsectOver {
	flex-direction: column;
	flex: 1;
}
@media print, (orientation: portrait) {
	.vsect {
		display: block;
	}
}
.toc {
	padding: 10px 20px;
}
.hsectMaj, .hsectMin {
	padding: 0 10px;
}
.hsectMaj, .hsectMin, .toc {
	background-color: var(--norm-color);
	padding: 0px 20px;
	box-sizing: border-box;
}
@media (orientation: portrait) {
	.hsectMaj, .hsectMin {
		padding: 5px 15px;
		margin-bottom: 20px;
	}
}
.hsectMaj {
	flex:2;
}
.hsectMin {
	flex:1;
}

h1, h2 {
	border-bottom: solid;
	border-width: 1px;
}

.contact {
	list-style: none;
	padding:0;
}
li {
	margin-top: 10px;
}
@media screen {
	.contactItem {
		background-color: var(--base-color);
		padding: 15px 15px;
	}
	.contact  > li {
		border: solid 1px;
		border-left: none;
		border-top: none;
		text-align: right;
		padding: 0;
		border-color: var(--accent-color-2);
		display: flex;
		border-radius: 10px;
		overflow: auto;
	}
	.contact > li > a {
		text-decoration: none;
		padding: 10px;
		flex: 1;
		transition: 0.2s;
	}
	.contact > li > a:hover {
		background-color: var(--accent-color-2);
		color: var(--norm-color);
	}
}

a {
	color: var(--accent-color-2);
	word-wrap: break-word;
}
.toc {
	flex:1;
	height:100%;
	position:sticky;
	top:20px;
}
@media print, (orientation: portrait) {
	.toc {
		scale:0;
		height: 0;
	}
	.allContent {
		display:block
	}
}
@media print {
	a {
		color: black;
	}
}
.mainContent {
	flex:4;
}

@media print {
	.hsectMaj, .hsectMin {
		margin: 0;
	}

	li {
		margin: 0;
	}
	li li li li, .unimportant {
		scale: 0;
		height: 0;
	}
	h1, h2 {
		margin: 0;
	}
}