:root {
	--base-color: #282a36;
	--accent-color: #f8f8f2;
	--accent-color-2: #6272a4;
	--norm-color: #44475a;
}
html {
	scroll-behavior: smooth;
	scroll-padding:40px;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--base-color);
	color: var(--accent-color);
	padding-bottom: 1rem;
}
@media print {
	body {
		color:black;
		background-color: white;
		font-size: 12px;
	}
}

footer {
	position:fixed;
	bottom:0;
	background-color: var(--base-color);
}
@media print {
	footer {
		scale:0;
	}
}

.vsect {
	display:flex;
}
.vsectOver {
	flex-direction: column;
	flex: 1;
}
@media print, (orientation: portrait) {
	.vsect {
		display: block;
	}
}
.toc {
	padding: 10px 20px;
}
.hsectMaj, .hsectMin {
	padding: 0 10px;
}
.hsectMaj, .hsectMin, .toc {
	margin:10px;
	background-color: var(--norm-color);
	border-radius: 20px;
	/* box-shadow: 5px 5px 5px #13152175, -5px -5px 5px #d1d3df40; */
}
@media print {
	.hsectMaj, .hsectMin, .toc  {
		box-shadow: none;
	}
}
@media (orientation: portrait) {
	.hsectMaj, .hsectMin {
		padding: 5px 15px;
		margin-bottom: 20px;
	}
}
.hsectMaj {
	flex:2;
}
.hsectMin {
	flex:1;
}

h1, h2 {
	border-bottom: solid;
}

.contact {
	list-style: none;
	padding:0;
}
li {
	margin-top: 10px;
}
@media screen {
	.contactItem {
		/* box-shadow: inset 5px 5px 5px #13152175, inset -5px -5px 5px #d1d3df40; */
		background-color: var(--base-color);
		border-radius: 20px;
		padding: 15px 15px;
	}
}

a {
	color: var(--accent-color-2);
}
.toc {
	flex:1;
	height:100%;
	position:sticky;
	top:20px;
}
@media print, (orientation: portrait) {
	.toc {
		scale:0;
		height: 0;
	}
	.allContent {
		display:block
	}
}
@media print {
	a {
		color: black;
	}
}
.mainContent {
	flex:4;
}